
@{
    ViewBag.Title = "Index";
}


<div class="text-center">
    <a href="~/Server/Docs/bases.pdf" class="btn btn-primary">Bases del Concurso</a>
    <a href="~/FrontEnd/Home/Descargar" class="btn btn-success">Estructura del Proyecto</a>
</div>