

@{
    ViewBag.Title = "Error";
}
<center>
    <h2>EL CONCURSO SELECCIONADO NO SE ENCUENTRA ACTIVO</h2>
    <div class="text-right">

        <a href="~/FrontEnd/Home/" class="btn btn-info btn-lg btn-block">CONTINUAR</a>
    </div>
</center>
