@model List<SistemaConcursoA.Models.Proyecto>
@{
    List<SistemaConcursoA.Models.Categoria> categoria = ViewBag.categoria;
    List<SistemaConcursoA.Models.Concurso> concurso = ViewBag.concurso;
}

<div class="panel panel-default">
    <div class="panel-heading">Consulta de Proyectos participantes organizados por Categoría</div>
</div>

<div id="Grilla"></div>

<script>
    $(document).ready(function ()
    {
        $("#Grilla").anexGrid(
            {
                columnas: [

                    { leyenda: "ID", columna: "proyecto_id", ordenable: true },
                    {
                        leyenda: 'Concurso', style: 'width:200px;', columna: 'nombre', filtro: function () {
                        return anexGrid_select({
                            data: [
                                { valor: '', contenido: 'Todo' },
                                @foreach (var s in concurso)
                            {
                                    <text>
                                        { valor: '@s.concurso_id', contenido: '@s.nombre' },
                                    </text>
                                    }
                                ]
                    });
    }
            },

                    { leyenda: "Curso", columna: "curso_cod" },

                    { leyenda: 'Categoría', style: 'width:200px;', columna: 'nombrecategoria'},

                    { leyenda: "Nombre del Proyecto", columna: "nombreproyecto", ordenable: true },
                    { style: "width: 80px;" },//boton detalle
                ],

                modelo: [

                    { propiedad: "proyecto_id" },
                    { propiedad: "nombre" },
                    { propiedad: "nombrecurso" },
                    { propiedad: "nombrecategoria" },
                    { propiedad: "nombre_proyecto" },
                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Backend/Consulta01/Ver/")'
                            + obj.proyecto_id, contenido: "Detalle",
                                class: 'btn btn-xs btn-info'
                            });
                        }
                    },
                ],

                url: '@Url.Content("~/Backend/Consulta01/CargarGrilla/")',
                filtrable: true,
                paginable: true, //para mostrar la paginación
                limite: [10, 20, 50, 100], //para mostrar un combobox donde se muestra la cantidad de registros por pagina
                columna: 'proyecto_id',
                columna_orden: "DESC"
            });
    })
</script>